@use "../../sass/utilities/colorVariables.scss" as color;

.button {
  background-color: color.$base-color-dark;
  color: color.$base-color;
  border: 0;
  padding: 1rem 3rem;
  border-radius: 1rem;
  cursor: pointer;

  &:hover {
    filter: brightness(0.75);
  }

  &--selected {
    background-color: color.$primary-color-light;
    color: color.$primary-color;
  }

  &--neutral {
    border: 1px solid color.$base-color-dark;
    background-color: transparent;
    color: color.$primary-color;
  }

  &--correct {
    background-color: color.$secondary-color;
    color: color.$primary-color;
  }

  &--incorrect {
    background-color: color.$tertiary-color;
    color: color.$primary-color;
    opacity: 0.5;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }

  &--disabled {
    opacity: 0.5;
    background-color: transparent;
    color: color.$base-color-dark;
    border: 1px solid color.$base-color-dark;
  }
}
