@use "../../sass/utilities/colorVariables.scss" as color;

.container {
  width: 100%;
  height: 100vh;
  background-color: color.$base-color;
  position: relative;
  &__blob {
    position: absolute;

    &--blue {
      bottom: 0;
      left: 0;
      overflow: hidden;
      height: 200px;
    }

    &--yellow {
      top: 0;
      right: 0;
    }
  }
}
