.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;

  &__question {
    font-size: 1rem;
  }

  &__answers {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 1rem;
  }
}
