.container {
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;

  &__button {
    margin-top: 3rem;

    &--hidden {
      display: none;
    }
  }
}
