@use "../../sass/utilities/colorVariables.scss" as color;

.container {
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;

  &__button {
    margin-top: 3rem;

    &--hidden {
      display: none;
    }
  }

  &__score {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-top: 2rem;

    p {
      color: color.$primary-color;
      font-size: 1.5rem;
    }
  }
}
